<p class="teaser-text">
    In lobortis pharetra mattis. Morbi nec nibh iaculis, bibendum augue a , ultrices nulla. Nunc velit ante, lacinia id tincidunt eget, faucibus nec nisl. In mauris purus, bibendum et gravida dignissim, venenatis.
</p>

<article class="sample-post">  
    <div>
        <p>
            In lobortis pharetra mattis. Morbi nec nibh iaculis, <a href="#">bibendum augue a</a>, 
            ultrices nulla. Nunc velit ante, lacinia id tincidunt eget, faucibus nec nisl. 
            In mauris purus, bibendum et gravida dignissim, venenatis commodo lacus. Duis consectetur 
            quis nisi nec accumsan. Pellentesque enim velit, ut tempor turpis. Mauris felis neque, egestas 
            in lobortis et,iaculis at nunc ac, rhoncus sagittis ipsum. 
        </p>

        <h3>
            Maecenas non convallis quam, eu sodales justo. Pellentesque quis lectus elit. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </h3>

        <p>
            Donec nec metus sed leo sollicitudin ornare sed consequat neque. Aliquam iaculis neque 
            quis dui venenatis, eget posuere felis viverra. Ut sit amet feugiat elit, nec elementum velit. 
            Sed eu nisl convallis, efficitur turpis eu, euismod nunc. Proin neque enim, malesuada non 
            lobortis nec, facilisis et lectus. Ie consectetur. Nam eget neque ac ex fringilla dignissim 
            eu ac est. Nunc et nisl vel odio posuere. 
        </p>

        <p>
            Vivamus non condimentum orci. Pellentesque venenatis nibh sit amet est vehicula lobortis. 
            Cras eget aliquet eros. Nunc lectus elit, suscipit at nunc sed, finibus imperdiet ipsum. 
            Maecenas dapibus neque sodales nulla finibus volutpat. Integer pulvinar massa vitae 
            ultrices posuere. Proin ut tempor turpis. Mauris felis neque, egestas in lobortis et, 
            sodales non ante. Ut vestibulum libero quis luctus tempus. Nullam eget dignissim massa. 
            Vivamus id condimentum orci. Nunc ac sem urna. Aliquam et hendrerit nisl massa nunc. 
        </p>
    </div>

    <img src="~/images/SamplePost_Image1.jpg" alt="Robot Hand" asp-append-version="true">

    <div>
        <h3>
            Nam non velit est. Sed lobortis arcu vitae nunc molestie consectetur. Nam eget neque 
            ac ex fringilla dignissim eu ac est. Nunc et nisl vel odio posuere.
        </h3>

        <p>
            Vivamus non condimentum orci. Pellentesque venenatis nibh sit amet est vehicula lobortis. 
            Cras eget aliquet eros. Nunc lectus elit, suscipit at nunc sed, finibus imperdiet ipsum. 
            Maecenas dapibus neque sodales nulla finibus volutpat. Integer pulvinar massa vitae 
            ultrices posuere. Proin ut tempor turpis. Mauris felis neque, egestas in lobortis et, 
            sodales non ante. Ut vestibulum libero quis luctus tempus. Nullam eget dignissim massa. 
            Vivamus id condimentum orci. Nunc ac sem urna. Aliquam et hendrerit nisl massa nunc. 
        </p>

        <p>
            Morbi pharetra porta consequat. Aenean et diam sapien. <a href="#">Interdum et malesuada</a> 
            fames ac ante ipsum primis in faucibus. Pellentesque dictum ligula iaculis, feugiat metus eu, 
            sollicitudin ex. Quisque eu ullamcorper ligula. In vel ex ac purus finibus viverra. 
            Maecenas pretium lobortis turpis. Fusce lacinia nisi in tortor massa nunc.
        </p>

        <ul>
            <li>Integer sit amet odio ac lectus imperdiet elementum.</li>
            <li>Praesent vitae lacus sed lacus ullamcorper mollis.</li>
            <li>Donec vitae metus ac felis vulputate tincidunt non et ex.</li>
            <li>In dapibus sapien at viverra venenatis.</li>
            <li>Pellentesque mollis velit id maximus finibus.</li>
        </ul>

        <p>
            Proin ultricies nulla consectetur, sollicitudin dolor at, sollicitudin mauris. Maecenas at 
            nunc nunc. Ut nulla felis, tincidunt et porttitor at, rutrum in dolor. Aenean id 
            tincidunt ligula. Donec vitae placerat odio. Mauris accumsan nibh ut nunc maximus, 
            ac auctor elit vehicula. Cras leo sem, vehicula a ultricies ac, condimentum vitae lectus. 
            Sed ut eros euismod, luctus nisl eu, congue odio. 
        </p>

        <p class="sample-float">
            <img src="~/images/SamplePost_Image2.jpg" alt="Headphones" asp-append-version="true">
            Suspendisse ultrices placerat dolor sed efficitur. Morbi in laoreet diam. Pellentesque habitant 
            morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris ut massa id 
            lectus laoreet porta non in metus. Donec nibh justo, tincidunt non justo ut, tincidunt 
            malesuada turpis. Cras pellentesque sollicitudin ex eget pharetra.rta non in metus. 
            Donec nibh justo, tincidunt non justo ut, tincidunt malesuada turpis. Cras pellentesque 
            sollicitudin ex eget pharetra.
        </p>

        <h3>
            <strong>Nam non velit est. Sed lobortis arcu vitae nunc molestie consectetur. Nam eget 
                neque ac ex fringilla dignissim eu ac est. Nunc et nisl vel odio posuere. </strong>
        </h3>

        <p>
            Aliquam eget maximus odio. Aliquam varius nisl ut leo fermentum, id fringilla magna tempus. 
            Curabitur quis bibendum lorem, ut suscipit tellus. Morbi id dictum justo, et massa nunc. 
            Mauris laoreet, neque et varius malesuada, justo neque consequat dolor, sit amet semper 
            dui ligula commodo enim. Duis mauris magna, euismod in ante sed, laoreet faucibus elit. 
            Nam euismod vulputate lorem, nec tincidunt lacus volutpat sit amet. In libero eros, 
            dignissim vitae quam sed, maximus consectetur justo. Donec id orci eget odio convallis 
            pellentesque. Quisque urna cras amet.Vivamus non condimentum orci. Pellentesque venenatis 
            nibh sit amet est vehicula lobortis. Cras eget aliquet eros. Nunc lectus elit, suscipit 
            at nunc sed, finibus imperdiet ipsum. Maecenas dapibus neque sodales nulla finibus volutpat. 
            Integer pulvinar massa vitae ultrices posuere. Proin ut tempor turpis. Mauris felis neque, 
            egestas in lobortis et, sodales non ante. Ut vestibulum libero quis luctus tempus. 
            Nullam eget dignissim massa. Vivamus id condimentum orci. Nunc ac sem urna. Aliquam et 
            hendrerit nisl massa nunc. 
        </p>

        <p class="sample-float">
            Suspendisse ultrices placerat dolor sed efficitur. Morbi in laoreet diam. Pellentesque 
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris 
            ut massa id lectus laoreet porta non in metus. Donec nibh justo, tincidunt non justo ut, 
            tincidunt malesuada turpis. Cras pellentesque sollicitudin ex eget pharetra.rta non in metus. 
            Donec nibh justo, tincidunt non justo ut, tincidunt malesuada turpis. Cras pellentesque 
            sollicitudin ex eget pharetra.
            <img src="~/images/SamplePost_Image3.jpg" alt="Cellphone" asp-append-version="true">
        </p>

        <p>
            Vivamus non condimentum orci. Pellentesque venenatis nibh sit amet est vehicula lobortis. 
            Cras eget aliquet eros. Nunc lectus elit, suscipit at nunc sed, finibus imperdiet ipsum. 
            Maecenas dapibus neque sodales nulla finibus volutpat. Integer pulvinar massa vitae ultrices 
            posuere. Proin ut tempor turpis. Mauris felis neque, egestas in lobortis et, sodales non ante. 
            Ut vestibulum libero quis luctus tempus. Nullam eget dignissim massa. Vivamus id condimentum 
            orci. Nunc ac sem urna. Aliquam et hendrerit nisl massa nunc. 
        </p>
    </div>
</article>