@{
    Layout = "_MainLayout";
}



<section class="info-page">
    <header>
        <span><i class="fa-solid fa-comment"></i></span>
        <h1>About XStech</h1>
    </header>

    <main>
        <p>
            <strong>XStech</strong> started as a way to share technology news between friends, and has grown into
            one of the world's largest modern media organizations. We stay true to our original philosophy: 
            that technology requires a revolution in commmunication that not only makes tech accessible to
            the non-technically minded, but one that also goes above and beyond to welcome and invite them
            into the conversation to increase global technological literacy and ensure that the empowering
            potential of these incredible innovations is fully realized the world over.
        </p>

        

        <p>
            Velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, 
            turpis dui ornare nisl, sollicitudin interdum turpis nunc eget sem nulla eu ultricies orci 
            praesent id augue nec lorem pretium <a>congue sit amet</a> ac nunc fusce iaculis lorem eu diam hendrerit 
            at mattis purus dignissim vivamus mauris tellus, fringilla vel dapibus a, blandit quis erat 
            vivamus elementum aliquam luctus etiam fringilla pretium sem vitae sodales mauris id nulla 
            est praesent laoreet, metus vel auctor aliquam, eros purus vulputate leo, eget consequat 
            neque quam id tellus duis ultricies tempor tortor, vitae dignissim ligula mattis nec in 
            hac habitasse platea dictumst.
        </p>

        <p>
            Sem ornare sit amet proin sem sapien, auctor vel faucibus id, aliquet vitae ipsum etiam 
            auctor ultricies ante, at dapibus urna viverra sed nullam mi arcu, tempor vitae interdum a, 
            sodales non urna vestibulum dignissim auctor mauris, ac elementum purus fermentum vitae duis 
            placerat laoreet risus, sit amet eleifend tellus lobortis non vivamus iaculis dapibus leo 
            a ornare cras vel sem at felis convallis mollis posuere ultrices dolor sed tellus arcu, 
            accumsan a consectetur sit amet, volutpat eget lorem phasellus quis ipsum orci integer 
            sodales tincidunt nibh a elementum ut ac libero nec orci euismod euismod nec at nulla duis 
            malesuada faucibus porta aliquam nec consequat eros sed porttitor placerat dolor, accumsan 
            imperdiet neque ornare in aenean non elit non leo porta mattis mauris non dolor nunc, 
            id congue odio donec tellus nisl, 
            
            <h3>semper id consectetur</h3> 
            
            vitae, dapibus dictum nisl morbi 
            sed augue purus sed dictum diam convallis tortor interdum volutpat phasellus dapibus arcu 
            sit amet neque vulputate sed elementum orci fringilla in hac habitasse platea dictumst maecenas 
            ut dui diam curabitur adipiscing vestibulum libero, nec varius dui pulvinar eget vestibulum 
            ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; aliquam dui neque, 
            varius eu laoreet vel.
        </p>

        <p>
            Scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet 
            justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio 
            eget lorem nulla condimentum tempor mattis ut vitae feugiat augue.
        </p>
    </main>
</section>